.block {
  position: relative;
  background: transparent;
  color: #FFF;
  overflow: hidden;
  box-sizing: border-box;
  user-select: none;
}
.block-themed {
  background: $block-bg;
  border: 1px solid $border-color;
  transition: all .5s;
  &:hover {
    background: lighten($block-bg, 15%);
  }
}
.block-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}