.block {
  position: relative;
  background: transparent;
  color: #FFF;
  overflow: hidden;
}
.block-themed {
  background: $block-bg;
  border: 1px solid transparent;
  transition: all .3s;
  &:hover {
    background: lighten($block-bg, 15%);
    border: 1px solid #0F2547;
  }
}
.block-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}