:root {
  --header-height: 50px;
  @media (max-width: 850px) {
    --header-height: 40px;
  }
}

$block-gap: 10px;
$mobile-menu-height: 35px;
$mobile-lastupdated-height: 30px;

$block-bg: rgba(17, 46, 90, 0.2);
$border-color: #173869;