$block-gap: 10px;
$header-height: 50px;
$mobile-menu-height: 35px;

$grey-1: #555555;
$grey-2: #404040;
$grey-3: #353535;
$grey-4: #2B2B2B;
$grey-5: #262626;

$block-bg: rgba(17, 46, 90, 0.2);
$border-color: #173869;